
<!-- MENU SIDEBAR-->
<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="/">
            <img src="/images/icon/logo.png" alt="Cool Admin" />
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li class="active has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                </li>
                <li>
                    <a href="/admin/faculties">
                        <i class="fas fa-chart-bar"></i>Faculties</a>
                </li>
                <li>
                    <a href="/admin/departments">
                        <i class="fas fa-chart-bar"></i>Departments</a>
                </li>
                <li>
                    <a href="/admin/teachers">
                        <i class="fas fa-table"></i>Teachers</a>
                </li>
                <li>
                    <a href="form.hbs">
                        <i class="far fa-check-square"></i>Forms</a>
                </li>
                <li>
                    <a href="calendar.hbs">
                        <i class="fas fa-calendar-alt"></i>Calendar</a>
                </li>
                <li>
                    <a href="map.hbs">
                        <i class="fas fa-map-marker-alt"></i>Maps</a>
                </li>
                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-copy"></i>Pages</a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="login.hbs">Login</a>
                        </li>
                        <li>
                            <a href="register.hbs">Register</a>
                        </li>
                        <li>
                            <a href="forget-pass.hbs">Forget Password</a>
                        </li>
                    </ul>
                </li>
                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-desktop"></i>UI Elements</a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="button.hbs">Button</a>
                        </li>
                        <li>
                            <a href="badge.hbs">Badges</a>
                        </li>
                        <li>
                            <a href="tab.hbs">Tabs</a>
                        </li>
                        <li>
                            <a href="card.hbs">Cards</a>
                        </li>
                        <li>
                            <a href="alert.hbs">Alerts</a>
                        </li>
                        <li>
                            <a href="progress-bar.hbs">Progress Bars</a>
                        </li>
                        <li>
                            <a href="modal.hbs">Modals</a>
                        </li>
                        <li>
                            <a href="switch.hbs">Switchs</a>
                        </li>
                        <li>
                            <a href="grid.hbs">Grids</a>
                        </li>
                        <li>
                            <a href="fontawesome.hbs">Fontawesome Icon</a>
                        </li>
                        <li>
                            <a href="typo.hbs">Typography</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</aside>
<!-- END MENU SIDEBAR-->