<!-- HEADER MOBILE-->
<header class="header-mobile d-block d-lg-none">
    <div class="header-mobile__bar">
        <div class="container-fluid">
            <div class="header-mobile-inner">
                <a class="logo" href="/">
                    <img src="/images/icon/logo.png" alt="CoolAdmin" />
                </a>
                <button class="hamburger hamburger--slider" type="button">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
    <nav class="navbar-mobile">
        <div class="container-fluid">
            <ul class="navbar-mobile__list list-unstyled">
                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                </li>
                <li>
                    <a href="/admin/faculties">
                        <i class="fas fa-chart-bar"></i>Faculties</a>
                </li>
                <li>
                    <a href="/admin/departments">
                        <i class="fas fa-chart-bar"></i>Departments</a>
                </li>
                <li>
                    <a href="/admin/teachers">
                        <i class="fas fa-table"></i>Teachers</a>
                </li>
                <li>
                    <a href="/admin/sessions">
                        <i class="far fa-check-square"></i>Sessions</a>
                </li>
                <li>
                    <a href="/admin/courses">
                        <i class="fas fa-calendar-alt"></i>Courses</a>
                </li>
                <li>
                    <a href="/admin/sessions">
                        <i class="fas fa-calendar-alt"></i>Session Courses</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<!-- END HEADER MOBILE-->
