
<!-- MENU SIDEBAR-->
<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="/">
            <img src="/images/icon/logo.png" alt="Cool Admin" />
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li class="active has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                </li>
                <li>
                    <a href="/admin/faculties">
                        <i class="fas fa-chart-bar"></i>Faculties</a>
                </li>
                <li>
                    <a href="/admin/departments">
                        <i class="fas fa-chart-bar"></i>Departments</a>
                </li>
                <li>
                    <a href="/admin/teachers">
                        <i class="fas fa-table"></i>Teachers</a>
                </li>
                <li>
                    <a href="/admin/sessions">
                        <i class="far fa-check-square"></i>Sessions</a>
                </li>
                <li>
                    <a href="/admin/courses">
                        <i class="fas fa-calendar-alt"></i>Courses</a>
                </li>
                <li>
                    <a href="/admin/session-courses">
                        <i class="fas fa-calendar-alt"></i>Session Courses</a>
                </li>
                <li>
                    <a href="/admin/students">
                        <i class="fas fa-calendar-alt"></i>Students</a>
                </li>
                <li>
                    <a href="/admin/fees">
                        <i class="fas fa-calendar-alt"></i>Student Enrolments</a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
<!-- END MENU SIDEBAR-->